<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Acrostia</title>
	<!-- Стили -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	

	<!-- Стиль слайдера -->
	<link rel="stylesheet" href="touchTouch_gallery/touchTouch/touchTouch.css" />

	<!-- Библиотека jquery -->
	<script src="js/jquery-3.4.1.min.js"></script>

	<!-- Основной скрипт -->
	<script src="js/main.js"></script>

	<!-- Скрипт слайдера -->
	<script src="js/slider.js"></script>

	<!-- Скрипт галереи -->
	<script src="js/gallery.js"></script>
	<script src="touchTouch_gallery/touchTouch/touchTouch.jquery.js"></script>
</head>
<body>
	<!-- Раздел home -------------------------------------------------------------------------------------------------->
	<div id="block-home" class="slider block-home">
		<!-- Обертка слайдов -->
		<div class="slideswrapper">
            <div class="slide" style="background-image: url('img/slider/slider-image-1.jpg')"></div>
            <div class="slide" style="background-image: url('img/slider/slider-image-2.jpg')"></div>
            <div class="slide" style="background-image: url('img/slider/slider-image-3.jpg')"></div>
        </div>
        <!-- Управляющие стрелки -->
        <div class="slider-arrows">
        	<div class="arrow arrow-left"></div>
			<div class="arrow arrow-right"></div>
        </div>
        <!-- Управляющие точки -->
		<div class="slider-dots">
			<div class="ul">
				<div class="dot dot-1"></div>
				<div class="dot dot-2"></div>
				<div class="dot dot-3"></div>
			</div>
		</div>
		
		<!-- Панель логотипа и навигации -->
		<div class="header">
			<div class="header-wrapper">
				<!-- Лого -->
				<div class="logo">
					<h2>arcostia</h2>
				</div>
				<!-- Кнопка для отображения меню на мобильных устройствах -->
				<div class="mobile-menu-btn"></div>
				<!-- Навигация -->
				<div class="navbar">
					<ul>
						<li><a class="active" href="#block-home">Home</a></li>
						<li><a href="#block-services">Services</a></li>
						<li><a href="#block-about">About</a></li>
						<li><a href="#block-work">Work</a></li>
						<li><a href="#block-contacts">Contacts</a></li>
					</ul>
				</div>
			</div>
			
		</div>

		<!-- Текст посредине -->
		<div class="wrapper wrapper-main-text">
			<!-- Блок текста посредине -->
			<div class="main-text">
				<!-- Левая колонка -->
				<div class="left-col">
					<h3><span class="top-line">Good ideas</span><br><span class="bottom-line">comes</span></h3>
				</div>
				<!-- Правая колонка -->
				<div class="right-col">
					<h3>First!</h3>
				</div>
			</div>
		</div>
	</div>


	<!-- Раздел services ---------------------------------------------------------------------------------------------->
	<div id="block-services" class="wrapper block-services">
		<div class="article">
			<h3>Our services</h3>
			<h5> Cras commodo mattis justo nec <span>lobortis</span>. Nam ut tellus lobortis, ullamcorper massa sit amet</h5>
			<p>Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
		</div>
		<div class="block-cards">
			<div class="card-1">
				<h5>Researching</h5>
				<p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
			</div>
			<div class="card-2">
				<h5>Design</h5>
				<p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
			</div>
			<div class="card-3">
				<h5>Development</h5>
				<p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
			</div>
			<div class="card-4">
				<h5>Launch</h5>
				<p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
			</div>
		</div>
	</div>


	<!-- Раздел about ------------------------------------------------------------------------------------------------->
	<div id="block-about" class="wrapper block-about">
		<div class="article">
			<h3>Who we are & what we do</h3>
			<p>Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
		</div>
		<div class="meet-the-team-block">
			<p>Meet the team</p>
		</div>
		<div class="block-cards">
			<div class="card-1">
				<div class="profile-image"></div>
				<p class="name">Anton Petrov</p>
				<p class="position">General manager</p>
				<div class="socmedia">
					<a href="#" class="facebook"></a>
					<a href="#" class="twitter"></a>
					<a href="#" class="google"></a>
					<a href="#" class="instagram"></a>
				</div>
			</div>
			<div class="card-2">
				<div class="profile-image"></div>
				<p class="name">Kiril Donchev</p>
				<p class="position">Design Master</p>
				<div class="socmedia">
					<a href="#" class="facebook"></a>
					<a href="#" class="twitter"></a>
					<a href="#" class="google"></a>
					<a href="#" class="instagram"></a>
				</div>
			</div>
			<div class="card-3">
				<div class="profile-image"></div>
				<p class="name">Ilian Bonev</p>
				<p class="position">Developer Ninja</p>
				<div class="socmedia">
					<a href="#" class="facebook"></a>
					<a href="#" class="twitter"></a>
					<a href="#" class="google"></a>
					<a href="#" class="instagram"></a>
				</div>
			</div>
			<div class="card-4">
				<div class="profile-image"></div>
				<p class="name">Doni Stamov</p>
				<p class="position">SEO guru</p>
				<div class="socmedia">
					<a href="#" class="facebook"></a>
					<a href="#" class="twitter"></a>
					<a href="#" class="google"></a>
					<a href="#" class="instagram"></a>
				</div>
			</div>
		</div>
	</div>
	

	<!-- Раздел work -------------------------------------------------------------------------------------------------->
	<div id="block-work" class="wrapper block-work">
		<div class="article">
			<h3>Our work</h3>
			<p>Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
		</div>
		<div class="gallery">
			<div class="block-title-filters">
				<h4 class="title">Portfolio</h4>
				<div class="filters">
					<button class="all">All</button>
					<button class="photography checked">Photography</button>
					<button class="logoDesign">Logo design</button>					
					<button class="webDesign">Web design</button>
				</div>
				
			</div>
			<div class="images">
		        <a class="cat-photography" href="img/gallery/category-photography/img-full-size-1.jpg" style="background-image:url('img/gallery/category-photography/img-small-1.jpg')">
		        	<div class="title">Aenean a elit</div>
		        </a>
		        <a class="cat-photography" href="img/gallery/category-photography/img-full-size-2.jpg" style="background-image:url('img/gallery/category-photography/img-small-2.jpg')" title="Aliquam">
		        	<div class="title">Aliquam</div>
		        </a>
		        <a class="cat-photography" href="img/gallery/category-photography/img-full-size-3.jpg" style="background-image:url('img/gallery/category-photography/img-small-3.jpg')" title="Suspendisse libero">
		        	<div class="title">Suspendisse libero</div>
		        </a>
		        <a class="cat-photography" href="img/gallery/category-photography/img-full-size-4.jpg" style="background-image:url('img/gallery/category-photography/img-small-4.jpg')" title="Maecenas fringilla">
		        	<div class="title">Maecenas fringilla</div>
		        </a>
		        <a class="cat-photography" href="img/gallery/category-photography/img-full-size-5.jpg" style="background-image:url('img/gallery/category-photography/img-small-5.jpg')" title="Donec vehicula">
		        	<div class="title">Donec vehicula</div>
		        </a>
		        <a class="cat-photography" href="img/gallery/category-photography/img-full-size-6.jpg" style="background-image:url('img/gallery/category-photography/img-small-6.jpg')" title="Ut et sapien">
		        	<div class="title">Ut et sapien</div>
		        </a>
		        <a class="cat-photography" href="img/gallery/category-photography/img-full-size-7.jpg" style="background-image:url('img/gallery/category-photography/img-small-7.jpg')" title="quis malesuada">
		        	<div class="title">quis malesuada</div>
		        </a>
		        <a class="cat-photography" href="img/gallery/category-photography/img-full-size-8.jpg" style="background-image:url('img/gallery/category-photography/img-small-8.jpg')" title="Vestibulum ante">
		        	<div class="title">Vestibulum ante</div>
		        </a>



		        <a class="cat-logoDesign" href="img/gallery/category-logoDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-logoDesign/img-small-1.jpg')">
		        	<div class="title">Aenean a elit</div>
		        </a>

		        <a class="cat-logoDesign" href="img/gallery/category-logoDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-logoDesign/img-small-1.jpg')">
		        	<div class="title">Aenean a elit</div>
		        </a>
				
		        <a class="cat-logoDesign" href="img/gallery/category-logoDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-logoDesign/img-small-1.jpg')">
		        	<div class="title">Aenean a elit</div>
		        </a>

		        <a class="cat-logoDesign" href="img/gallery/category-logoDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-logoDesign/img-small-1.jpg')">
		        	<div class="title">Aenean a elit</div>
		        </a>

		        <a class="cat-logoDesign" href="img/gallery/category-logoDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-logoDesign/img-small-1.jpg')">
		        	<div class="title">Aenean a elit</div>
		        </a>

		        <a class="cat-logoDesign" href="img/gallery/category-logoDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-logoDesign/img-small-1.jpg')">
		        	<div class="title">Aenean a elit</div>
		        </a>

		        <a class="cat-logoDesign" href="img/gallery/category-logoDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-logoDesign/img-small-1.jpg')">
		        	<div class="title">Aenean a elit</div>
		        </a>

		        <a class="cat-logoDesign" href="img/gallery/category-logoDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-logoDesign/img-small-1.jpg')">
		        	<div class="title">Aenean a elit</div>
		        </a>



		        <a class="cat-webDesign" href="img/gallery/category-webDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-webDesign/img-small-1.jpg')" title="Aliquam">
		        	<div class="title">Aliquam</div>
		        </a>

		        <a class="cat-webDesign" href="img/gallery/category-webDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-webDesign/img-small-1.jpg')" title="Aliquam">
		        	<div class="title">Aliquam</div>
		        </a>

		        <a class="cat-webDesign" href="img/gallery/category-webDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-webDesign/img-small-1.jpg')" title="Aliquam">
		        	<div class="title">Aliquam</div>
		        </a>

		        <a class="cat-webDesign" href="img/gallery/category-webDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-webDesign/img-small-1.jpg')" title="Aliquam">
		        	<div class="title">Aliquam</div>
		        </a>

		        <a class="cat-webDesign" href="img/gallery/category-webDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-webDesign/img-small-1.jpg')" title="Aliquam">
		        	<div class="title">Aliquam</div>
		        </a>

		        <a class="cat-webDesign" href="img/gallery/category-webDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-webDesign/img-small-1.jpg')" title="Aliquam">
		        	<div class="title">Aliquam</div>
		        </a>

		        <a class="cat-webDesign" href="img/gallery/category-webDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-webDesign/img-small-1.jpg')" title="Aliquam">
		        	<div class="title">Aliquam</div>
		        </a>

		        <a class="cat-webDesign" href="img/gallery/category-webDesign/img-full-size-1.jpg" style="background-image:url('img/gallery/category-webDesign/img-small-1.jpg')" title="Aliquam">
		        	<div class="title">Aliquam</div>
		        </a>
			</div>	
		</div>
	</div>


	<!-- Раздел contacts ---------------------------------------------------------------------------------------------->
	<div id="block-contacts" class="wrapper block-contacts">
		<div class="article">
			<h3>Who we are & what we do</h3>
			<p>Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
		</div>
		
		<div class="sub-block-contacts">
			<div class="col col-contacts">
				<div class="address-line">
					<h4 class="address">Address</h4>
					<p class="firm-name">Acrostia</p>
					<p class="firm-destination">Sevenoaks Rd<br> Sevenoaks TN14 7HR, UK</p>
				</div>
				<div class="contacts-lines">
					<table>
						<tr class="line-1">
							<td class="col-1"><p>Phone:</p></td>
							<td class="col-2"><a class="phone" href="tel:+44555555555">+44 555 555 555</a></td>
						</tr>
						<tr class="line-2">
							<td class="col-1"><p>Fax:</p></td>
							<td class="col-2"><a class="fax">+44 556 555 555</a></td>
						</tr>
						<tr class="line-3">
							<td class="col-1"><p>E-mail:</p></td>
							<td class="col-2"><a class="email" href="mailto:info@acrostia.com">info@acrostia.com</a></td>
						</tr>
						<tr class="line-4">
							<td class="col-1"><p>Skype:</p></td>
							<td class="col-2"><a class="skype">Acostia</a></td>
						</tr>
					</table> 
				</div>
			</div>
			<div class="col col-map">
				<div class="map"></div>
			</div>
			<div class="col col-contact-form">
				<h3 class="title">Ask a question</h3>
				<form action="POST" class="contact-form">
					<div class="first-line">
						<input type="text" name="name" placeholder="Name">
						<input type="text" name="email" placeholder="Email">
					</div>
					<div class="second-line">
						<textarea name="message" id="message" cols="30" rows="10" placeholder="Your question"></textarea>
					</div>
					<div class="third-line">
						<input type="submit" value="Send">
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer>
		<div class="soc-icons">
			<a href="#" class="icon icon-facebook"></a>
			<a href="#" class="icon icon-twitter"></a>
			<a href="#" class="icon icon-google"></a>
			<a href="#" class="icon icon-instagram"></a>
		</div>
	</footer>
	<div class="coopyright" style="max-width: 500px; color: gray; text-align: center; padding: 15px;">Верстка данного макета сделана исключительно в учебных целях. Автор верстки не претендует на коммерческое использование работы.</div>
</body>
</html>