<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Icrowdme</title>
	<!-- Сброс стилей -->
	<link rel="stylesheet" href="css/normalize.css">

	<!-- Общие стили -->
	<link rel="stylesheet" href="css/style.css">


	<!-- Скрипт jquery -->
	<script src="js/jquery-3.4.1.min.js"></script>

	<!-- Скрипт jqueryUI -->
	<script src="js/jquery-ui.min.js"></script>

	<!-- Слайдер -->
	<script src="js/slider.js"></script>

	<!-- Общий скрипт -->
	<script src="js/main.js"></script>
</head>
<body>
	<!-- Блок заголовка --------------------------------------------------------------------------------------------->
	<header class="block-header">
		<div class="container">
			<a href="#" class="logo">Crowd<span>me</span></a>
			<button class="login-btn">Login</button>
			<div class="navbar header-navbar-pc">
				<h3 class="mobile-menu-title">Menu</h3>
				<a href="#home" class="navbar-tab">Home</a>
				<a href="#how-it-works" class="navbar-tab">How it works</a>
				<a href="#discover-a-project" class="navbar-tab">Discover a project</a>
				<a href="#blog" class="navbar-tab">Blog</a>
				<a href="#blog" class="navbar-tab">Find out more</a>
			</div>
			<button class="menu-btn"></button>
		</div>
	</header>


	<!-- Блок слайдера ---------------------------------------------------------------------------------------------->
	<div id="home" class="slider">
	    <div class="slider-wrapper">
	        <div class="slider-content">
	        	<div class="slideswrapper">
		            <div class="slide" style="background-image: url('img/slider/img-1.jpg')"></div>
		            <div class="slide" style="background-image: url('img/slider/img-2.jpg')"></div>
		            <div class="slide" style="background-image: url('img/slider/img-3.jpg')"></div>
		        </div>
				<div class="container">
					<div class="container-wrap">
						<div class="slider-arrows">
							<div class="arrow arrow-left"></div>
							<div class="arrow arrow-right"></div>
						</div>
						<div class="main-text">
							<h2>Intellectual Property has the Shelf Life <span class="smaller-font-size">of a Banana.</span> </h2>
							<button>Become a Member</button>
						</div>
					</div>
					
				</div>
	        </div>
	    </div>
	</div>


	<!-- Блок how it works ----------------------------------------------------------------------------------------->
	<div id="how-it-works"	class="block-how-it-works">
		<div class="container">
			<h3 class="how-it-works-title">Our work is the presentation of our capabilities.</h3>
			<p class="paragraph first">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
			<p class="paragraph second">Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
			
			<div class="how-it-works-steps">
				<div id="tabs">
					<div class="tabs-header">
						<ul>
							<li><a href="#tabs-1" class="tab tab-1">Simple</a></li>
							<li><a href="#tabs-2" class="tab tab-2">Transparent</a></li>
							<li><a href="#tabs-3" class="tab tab-3">Collaborative</a></li>
						</ul>
					</div>
					
					<div id="tabs-1" class="tab-window tab-1" style="background-image: url('img/tab-1-image.png')">
						<h4>Browse projects, like booking a hotel online!</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et do lore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div id="tabs-2" class="tab-window tab-2" style="background-image: url('img/tab-2-image.png')">
						<h4>Browse projects, like booking a hotel online!</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste temporibus nemo consequatur aliquid illo sunt voluptas ex aperiam cumque saepe porro doloremque excepturi, assumenda incidunt, labore vel delectus necessitatibus reiciendis? Perspiciatis magnam odit eius!</p>
					</div>
					<div id="tabs-3" class="tab-window tab-3" style="background-image: url('img/tab-3-image.png')">
						<h4>Browse projects, like booking a hotel online!</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolor earum totam mollitia a officiis qui quis. Debitis nam quibusdam, optio inventore consectetur unde impedit atque, aperiam est eos, cumque.</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Блок properties, buyers -------------------------------------------------------------------------------------->
	<div class="block-properties-buyers">
		<div class="container">
			<div class="cols col-left">
				<h4>Find Properties</h4>
				<p>Sign up to browse the portfolio. Your journey to becoming a real estate baron starts here.</p>
				<button class="become-member">Become A Member</button>
			</div>
			<div class="cols col-right">
				<h4>Find Buyers</h4>
				<p>Sign up to browse the portfolio. Your journey to becoming a real estate baron starts here.</p>
				<button class="submit-project">Submit Your Project</button>
			</div>
		</div>
	</div>


	<!-- Блок projects ----------------------------------------------------------------------------------------------->
	<div  id="discover-a-project" class="block-projects">
		<div class="container">
			<div class="section-project-title">
				<div class="col-left">
					<h3>Featured Projects</h3>
					<p>Brief details of new and popular projects. To view full listings, you will be required to sign up and become a member.</p>
				</div>
				<div class="col-right">
					<button>Become a Member</button>
				</div>
			</div>
			<div class="section-projects-cards">
				<div class="card card-1">
					<div class="image" style="content: url('img/projects-card-img-1.jpg')"></div>
					<div class="price">From <span class="weight">GPB 3600</span></div>
					<div class="card-content">
						<h4 class="card-title">Ontario Tower , LONDON</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="card-bottom-section">
						<div class="meter"></div>
						<div class="funded">10% Funded</div>
						<div class="days-left">8 Days Left</div>
						<a class="project-details">See Project Details</a>
					</div>
				</div>
				<div class="card card-2">
					<div class="image" style="content: url('img/projects-card-img-2.jpg')"></div>
					<div class="price">From <span class="weight">GPB 3600</span></div>
					<div class="card-content">
						<h4 class="card-title">Ontario Tower , LONDON</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="card-bottom-section">
						<div class="meter"></div>
						<div class="funded">60% Funded</div>
						<div class="days-left">8 Days Left</div>
						<a class="project-details">See Project Details</a>
					</div>
				</div>
				<div class="card card-3">
					<div class="image" style="content: url('img/projects-card-img-3.jpg')"></div>
					<div class="price">From <span class="weight">GPB 3600</span></div>
					<div class="card-content">
						<h4 class="card-title">Ontario Tower , LONDON</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="card-bottom-section">
						<div class="meter"></div>
						<div class="funded">10% Funded</div>
						<div class="days-left">8 Days Left</div>
						<a class="project-details">See Project Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Блок community ----------------------------------------------------------------------------------------------->
	<div id="blog" class="block-community">
		<div class="container">
			<h2 class="title">Be Part of a Growing International Community</h2>
			<p class="text">One of the challenges in networking is everybody thinks it's making cold calls to strangers. Actually, it's the people who already have strong trust relationships with you</p>

			<div class="comments-section">
				<div class="cols left-col">
					<div class="comment comment-1">
						<h4 class="title">One of the Best</h4>
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod taempor incididunt ut labore et dolore magna aliqua.</p>

						<div class="commentator">
							<div class="photo" style="background: url(img/comment-1-photo.jpg);"></div>
							<p class="name">David Beckham</p>
						</div>
					</div>
				</div>
				<div class="cols right-col">
					<div class="comment comment-2">
						<h4 class="title">Exellent Service</h4>
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod taempor incididunt ut labore et dolore magna aliqua.</p>

						<div class="commentator">
							<div class="photo" style="background: url(img/comment-2-photo.jpg);"></div>
							<p class="name">David Beckham</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Футер -->
	<footer>
		<div class="container">
			<div class="sponsors" style="background-image: url(img/footer-sponsors.jpg);"></div>
		</div>
		<div class="copyright">Copyright © 2001 - 2014  Cssauthor.com
			<p style="margin-top: 15px">Верстка данного макета сделана исключительно в учебных целях. Автор верстки не претендует на коммерческое использование работы.</p>
		</div>
	</footer>
</body>
</html>